.container {
    display: block;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 7px #ccc;
    margin-top: 20px;
    padding: 8px;
    transition: box-shadow 0.3s ease;
    color: black;
    font-size: 15px;
}

.container:hover {
    box-shadow: 0 0 8px #999;
    text-decoration: none;
    color: black;
}

.container.expired {
    opacity: 0.7;
}

.image {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.jobTitle {
    font-size: 13px;
    color: #444;
}
