.container {
    display: block;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 7px #ccc;
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    color: black;
}

.container:last-child {
    margin-bottom: 0;
}

.container:hover {
    box-shadow: 0 0 8px #999;
    text-decoration: none;
    color: black;
}

.container.expired {
    opacity: 0.7;
}

.image {
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 170px;
    height: 170px;
}

.projectInfo {
    position: relative;
    flex-grow: 1;
    padding-right: 20px;
    padding-top: 5px;
}

.description {
    font-size: 15px;
    color: #444;
}

.budget {
    color: #3a808a;
    font-weight: bold;
}

.skillsContainer {
    margin-top: 5px;
    color: #aaa;
}

.skill {
    display: inline-block;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    padding: 1px 6px;
    margin-right: 5px;
    font-size: 12px;
    color: #777;
    font-weight: bold;
}

.remainingTime {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 1px 6px;
    font-size: 12px;
    color: #555;
}

.expired .remainingTime {
    background-color: #518487;
    color: white;
}
