html {
  font-size: 16px;
}

body {
  text-align: right;
  direction: rtl;
  background: #b9eef2;
  font-family: IranSans;
}

p {
  color: #111;
  line-height: 2em;
  font-size: 18px;;
  margin: 0;
}

.link {
  font-size: 18px;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: #3e858a;
}

.pointer {
  cursor: pointer;
}

.button {
  cursor: pointer;
  background: #4daabc;
  display: inline-block;
  padding: 10px 12px;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  margin-right: 5px;
}

.ltr {
  direction: ltr;
}

.color-primary {
  color: #3a808a;
}

.color-success {
  color: #3f8a47;
}

.color-error {
  color: #db3b2d;
}

.color-gray {
  color: #666;
}

.size-md {
  font-size: 18px;
}

.size-lg {
  font-size: 20px;
}

.size-xl {
  font-size: 32px;
}

.margin-top-sm {
  margin-top: 5px;
}

.margin-top-lg {
  margin-top: 20px;
}

.margin-right-lg {
  margin-right: 20px;
}

.margin-right-xl {
  margin-right: 30px;
}
